.td-footer {
  background-color: $skdarkgrey;
  padding: 50px 0 80px 0;
  box-sizing: content-box;
}

.td-footer-brand {
  display: block;
  margin: 0 0 30px 0;
}

.td-footer .td-footer-nav {
  margin: 0 0 30px 0;
}

.td-footer .td-footer-nav > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.td-footer .nav-item-footer {
  position: relative;

  &:not(:last-child) {
    margin: 0 12px 0 0;
  }

  &:not(:last-child)::after {
    content: "";
    height: 9px;
    width: 1px;
    background-color: $skgrey;
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.td-footer .nav-link-footer {
  color: $skgrey;
  transition: $transition;

  &:hover {
    color: $white;
  }

  &.active {
    color: $white;
  }
}

.td-footer .td-footer-copyright-privacy {
  color: $white;
}