//
// Top navbar - copied from Docsy theme and additional styling included.
//
body.mobile-menu-open {
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 32;
}

.td-navbar-cover {
    @include media-breakpoint-up(md) {
        .brand-name {
            display: none;
        }
    }

    &.navbar-bg-onscroll .nav-link {
        text-shadow: none;
    }
}


.td-navbar {
    border-bottom: 1px solid $skorange;
    min-height: 5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    transition: $transition;
    padding: 0.5rem 1.875rem;

    @include media-breakpoint-down(md) {
        min-height: 4rem;
        padding: 0.5rem 1rem;
    }

    .brand-name {
        display: none;}

    .navbar-brand {
        text-transform: none;
        text-align: middle;
        margin: 0;
        padding: 0;
    }

    .navbar-logo svg {
        display: inline-block;
        height: 2.75rem;
        width: 130px;

        @include media-breakpoint-down(md) {
            left: 16px;
            width: 80px;
            height: auto;
        }
    }

    .nav-item {
        position: relative;
    }

    .nav-item > * {
        @include media-breakpoint-down(md) {
            font-size: .875rem;
        }
    }

    .nav-link {
        text-transform: none;
        font-weight: $font-weight-medium;
        transition: $transition;

        @include media-breakpoint-down(md) {
            padding-right: .25rem;
            padding-left: 0;
        }
    }

    .nav-item.has-children > .nav-link {
        &::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }
    }

    .nav-item.has-children:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu .nav-link {
        width: 100%;
        padding: 0.25rem 1.5rem;

        &:hover {
            color: $black;
            background: #f8f9fa linear-gradient(180deg, #f9fafb, #f8f9fa) repeat-x;
        }
    }

    .td-search-input {
        border: none;

        @include placeholder {
            color: $navbar-dark-color;
        }
    }

    .nav-item-translations {
        @include media-breakpoint-down(lg) {
            min-width: 0;
        }
    }

    .nav-item-translations .dropdown-menu {
        @include media-breakpoint-down(lg) {
            right: 0;
            left: initial;
        }
    }

    .navbar-mobile-button {
        background-color: transparent;
        margin: 0;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
    }

    .navbar-mobile-button span {
        display: block;
        height: 0.125rem;
        width: 1.562rem;
        background-color: $skred;
        transition: $transition;

        &:nth-child(2) {
            transition: none;
        }

        &:not(:last-child) {
            margin: 0 0 0.437rem 0;
        }
    }

    .navbar-mobile-button.open span {
        &:first-child {
            margin: 0;
            transform: translate(0, 50%) rotate(45deg);
        }

        &:nth-child(2) {
            height: 0;
            margin: 0;
        }

        &:last-child {
            transform: translate(0, -50%) rotate(-45deg);
        }
    }
}

header.mobile-menu-open .td-navbar {
    background: $skdarkgrey;
    border-bottom: 1px solid #3c3c41;

    .nav-link {
        color: $white;

        &:hover {
            color: $skred;
        }
    }

    .navbar-mobile-button {
        background-color: transparent;
        margin: 0;
        border: none;
        padding: 0.625rem;
        cursor: pointer;

        span {
            background-color: $white;
        }
    }
}

.td-navbar-mobile {
    position: fixed;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
    height: calc(100vh - 5rem);
    background: $skdarkgrey;
    padding: 1.875rem 1.625rem;
    overflow: auto;

    @include media-breakpoint-down(md) {
        height: calc(100vh - 4rem);
        padding: 1.875rem 1rem;
    }

    .navbar-search {
        margin: 0 0 1.875rem 0;
    }

    .navbar-search input {
        color: $white;

        &::placeholder {
            color: $white;
        }

        &:focus {
            color: $black;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    a {
        padding: 0;
    }

    & > ul > li:not(:last-child) {
        margin: 0 0 15px 0;
    }

    & > ul > li > a {
        font-size: 25px;
        color: $white;
        transition: $transition;
        font-weight: $font-weight-bold;

        &:hover {
            color: $skred;
        }
    }

    & > ul > li.has-children ul > li > a {
        font-size: 1.125rem;
        color: $white;
        transition: $transition;

        &:hover {
            color: $skred;
        }
    }

    li.has-children > a {
        display: flex;
    }

    li.has-children > a > span {
        flex-grow: 1;
    }

    li.has-children > a > button {
        transition: $transition;
        background-color: transparent;
        border: none;
        color: $white;
        cursor: pointer;
    }

    li.submenu-open > a > button {
        transform: rotate(180deg);
    }

    .navbar-submenu {
        display: none;
        padding: 0 0 0 1rem;
    }

    .navbar-submenu > li:first-child {
        padding: 0.937rem 0;
    }

    .navbar-submenu > li:not(:last-child) {
        padding: 0 0 0.937rem 0;
    }

    .navbar-submenu > li:last-child {
        padding-bottom: 0;
    }

    .navbar-submenu .navbar-submenu {
        padding: 0 0 0 0.618rem;
    }

    .navbar-submenu .navbar-submenu > li > a {
        font-size: 0.875rem;
        color: $skgrey;
        transition: $transition;

        &:hover {
            color: $skred;
        }
    }
}

header.mobile-menu-open .td-navbar-mobile {
    visibility: visible;
    opacity: 1;

    .nav-link.active {
        color: $skred;
    }
}