//
// Top navbar - copied from Docsy theme and additional styling included.
//
body.mobile-menu-open {
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 32;
}

.td-navbar-cover {
    @include media-breakpoint-up(md) {
        .brand-name {
            display: none;
        }
    }

    &.navbar-bg-onscroll .nav-link {
        text-shadow: none;
    }
}


.td-navbar {
    border-bottom: 1px solid $skorange;
    min-height: 5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    transition: all 0.3s linear;

    @include media-breakpoint-down(md) {
        min-height: 4rem;
        padding-right: .5rem;
        padding-left: .75rem;
    }

    .brand-name {
        display: none;}

    .navbar-brand {
        text-transform: none;
        text-align: middle;
        margin: 0;
        padding: 0;

        .navbar-logo {
            svg {
                display: inline-block;
                height: 2.75rem;
                width: 130px;

                @include media-breakpoint-down(md) {
                    left: 16px;
                    width: 80px;
                    height: auto;
                }
            }
        }
    }

    .nav-item {
        position: relative;

        & > * {
            @include media-breakpoint-down(md) {
                font-size: .875rem;
            }
        }
    }

    .nav-link {
        text-transform: none;
        font-weight: $font-weight-medium;
        transition: all 0.3s linear;

        @include media-breakpoint-down(md) {
            padding-right: .25rem;
            padding-left: 0;
        }
    }

    .nav-item.has-children > .nav-link {
        &::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }
    }

    .nav-item.has-children:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu a {
        width: 100%;
    }

    .td-search-input {
        border: none;

        @include placeholder {
            color: $navbar-dark-color;
        }
    }

    .nav-item-translations {
        @include media-breakpoint-down(lg) {
            min-width: 0;
        }
    }

    .nav-item-translations .dropdown-menu {
        @include media-breakpoint-down(lg) {
            right: 0;
            left: initial;
        }
    }

    .navbar-mobile-button {
        background-color: transparent;
        margin: 0;
        border: none;
        padding: 0.5rem;
        cursor: pointer;

        span {
            display: block;
            height: 0.125rem;
            width: 1.562rem;
            background-color: $skred;
            transition: all 0.3s linear;

            &:nth-child(2) {
                transition: none;
            }

            &:not(:last-child) {
                margin: 0 0 0.437rem 0;
            }
        }

        &.open span {
            &:first-child {
                margin: 0;
                transform: translate(0, 50%) rotate(45deg);
            }

            &:nth-child(2) {
                height: 0;
                margin: 0;
            }

            &:last-child {
                transform: translate(0, -50%) rotate(-45deg);
            }
        }
    }
}

header.mobile-menu-open .td-navbar {
    background: $skdarkgrey;
    border-bottom: 1px solid #3c3c41;

    .nav-link {
        color: $white;

        &:hover {
            color: $skred;
        }
    }

    .navbar-mobile-button {
        background-color: transparent;
        margin: 0;
        border: none;
        padding: 0.625rem;
        cursor: pointer;

        span {
            background-color: $white;
        }
    }
}

.td-navbar-mobile {
    position: fixed;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
    height: calc(100vh - 5rem);
    background: $skdarkgrey;
    padding: 1.875rem 1.625rem;

    @include media-breakpoint-down(md) {
        height: calc(100vh - 4rem);
        padding: 1.875rem 1rem;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    a {
        padding: 0;
    }

    & > ul > li:not(:last-child) {
        margin: 0 0 15px 0;
    }

    & > ul > li > a {
        font-size: 25px;
        color: $white;
        transition: all 0.3s linear;
        font-weight: $font-weight-bold;

        &:hover {
            color: $skred;
        }
    }

    & > ul > li.has-children ul > li > a {
        font-size: 1.125rem;
        color: $white;
        transition: all 0.3s linear;

        &:hover {
            color: $skred;
        }
    }

    li.has-children > a {
        display: flex;
    }

    li.has-children > a > span {
        flex-grow: 1;
    }

    li.submenu-open > a {
        margin: 0 0 10px 0;
    }

    ul.sub-menu {
        display: none;
    }

    ul.sub-menu > li:not(:last-child) {
        margin: 0 0 10px 0;
    }
}

header.mobile-menu-open .td-navbar-mobile {
    visibility: visible;
    opacity: 1;

    .nav-link.active {
        color: $skred;
    }
}